
        #homeCLR{
            color: orangered;
            font-size: 200%;
        }
        .navbar{
            display:flex;
            align-items: center;
            justify-content:space-between;
            padding: 50px;
        }
        .navbarButtons a{
            color: white;
            text-decoration:none;
            font-size: 150%;
            font-weight: bold;
            
        }
        a.nav-link:hover {
            color: rgb(0, 247, 255);
            font-size: 200%;
        }
        a.nav-link-blog:hover {
            color: rgb(9, 255, 0);
            font-size: 200%;
            text-decoration:underline;
            
        }
        .cat-gradient1{
            font-family: 'Inter', sans-serif;
            background: linear-gradient(90deg,#8337FF 0%,#E87421 15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
        .cat-gradient2{
            font-family: 'Inter', sans-serif;
            background: linear-gradient(90deg,#1FFFF2 0%,#fad325 25%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
        .cat-gradient3{
            font-family: 'Inter', sans-serif;
            background: linear-gradient(90deg,#E83F3F 0%,Blue 15%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-weight: bolder;
        }
        .section-hero{
            color: #fff;
            margin-left: 10%;
            margin-top: 10%;
            font-weight: bold;
            font-size: 200%;
            font-family:Georgia, 'Times New Roman', Times, serif;
        }
        h1.heading-stroke-1st {
            -webkit-text-stroke-width: 2px;
            -webkit-text-stroke-color: white;
        }
        h1.heading-stroke-2nd {
            color: white;
        }
        .row {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5%;
            flex-wrap: wrap;
            color: white;
        }
        .spacex {
            margin-top: 80px;
        }
        .section-headings h1{
            font-size: 500%;
        }
        .tech-icon-img{
            font-family: 'Inter', sans-serif;
            cursor: default;
            width:fit-content;
            height: 75px;
            object-fit: contain;
            color: white;
        }
        .tech-icon-img:hover{ 
            transform: scale(1.1);
        }
        .work-icon-img:hover{
            transform: scale(1.1);
        }
        .work-icon-img{
            font-family: 'Inter', sans-serif;
            cursor: default;
            width:fit-content;
            height: 200px;
            object-fit: contain;
            color: white;
            border-radius: 5%;
        }
        .worklink a{
            color: white;
            font-size: 130%;
            text-decoration:none;
        }
        .worklink a:hover{
            color: chartreuse;
            font-size: 140%;
            text-align: center;
        }
        .section-about {
            margin-top: 250px;
            text-align: center;
        }
        .section-about-details {
            display: flex;
            padding: 0px 80px;
            align-items: center;
        }
        .section-about-image {
            margin: 0.1%,10%;
        }
        .section-about-texts {
            text-align:center;
            color: white;
            font-size: 150%;
            font-weight: bold;
            margin-right: 10%;
        }
        .contact-link {
            font-size: 250%;
            margin: 40px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            color: white;
        }
        .footer{
            display:flex;
            align-items: center;
            justify-content:space-between;
            padding: 5%;
            color: #cdfdff;
        }
        .footer p{
            font-size: 175%;
        }
        .footer span{
            color: #1FFFF2;
            font-weight: 900;
        }
        .section-contact-links a:hover{
            color: chartreuse;
            font-weight: bolder;
            font-size: 350%;
        }
